<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title Page-->
    <title>Signin Form</title>
</head>
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Login Form</h2>
                    <form (ngSubmit)="signin()" method="POST" action="">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email/Username</label>
                                    <input [(ngModel)]="model.username" #username="ngModel" placeholder="username" required="required"  class="input--style-4" type="username" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input [(ngModel)]="model.password" #password="ngModel" placeholder="password" required="required"  class="input--style-4" type="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form>
                    <a routerLink="/">Signup</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>