<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title Page-->
    <title>Signin Form</title>
</head>
<body>
  <div class="container">
    <h3>Dashboard </h3>
    <div class="form-group">
      <button id="logout_btn" ng-if="isLoggedIn()" ng-click="logout()">LogOut</button>
    </div>
    <form #signupForm="ngForm" (ngSubmit)="createTask(signupForm)">
        <div class="form-group">
          <input class="form-control" type="text" name="task" id="task" placeholder="What work do I have?" ngModel>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" name="button">Create Task</button>        
        </div>
    </form>
    <table class="table table-striped">
      <tr>
        <th>Completed</th>
        <th>Task</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let todo of todoList">
        <td>
          <input class="form-control" type="checkbox" ng-checked="todo.isCompleted" ng-click="onCompletedClick(todo)">
        </td>
        <td>
          <span ng-if="!todo.isEditing" class="">{{todo.task}}</span>
          <form ng-submit="updateTask(todo)">
            <input ng-if="todo.isEditing" class="form-control" ng-value="todo.task" ng-model="todo.updatedTask">
          </form>
        </td>
        <td>
          <span ng-if="!todo.isEditing" ng-click="onEditClick(todo)" class="glyphicon glyphicon-edit"></span>
          <span ng-if="!todo.isEditing" ng-click="deleteTask(todo)" class="glyphicon glyphicon-remove"></span>
          <span ng-click="updateTask(todo)" ng-if="todo.isEditing" class="btn glyphicon glyphicon-floppy-disk"></span>
          <span ng-click="onCancelClick(todo)" ng-if="todo.isEditing" class="btn glyphicon glyphicon-remove-sign"></span>
        </td>
      </tr> 
    </table>
  </div>
</body>
</html>