<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title Page-->
    <title>Signin Form</title>
</head>
<body>
  <div class="container">
    <h3>Dashboard </h3>
    <div class="form-group">
      <button id="logout_btn"  *ngIf="isLoggedIn()" (click)="logout()">LogOut</button>
    </div>
    <form #signupForm="ngForm" (ngSubmit)="createTask(signupForm)">
        <div class="form-group">
          <input class="form-control" type="text" name="task" id="task" placeholder="What work do I have?" ngModel>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" name="button">Create Task</button>        
        </div>
    </form>
    <table class="table table-striped">
      <tr>
        <th>Completed</th>
        <th>Task</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let todo of todoList">
        <td>
          <input class="form-control" type="checkbox" ng-checked="todo.isCompleted" (click)="onCompletedClick(todo)">
        </td>
        <td>
          <span *ngIf="!todo.isEditing" class="">{{todo.task}}</span>
          <form ng-submit="updateTask(todo)" *ngIf="todo.isEditing">
            <input  class="form-control" ng-value="todo.task">
          </form>
        </td>
        <td>
          <span *ngIf="!todo.isEditing" (click)="onEditClick(todo)" class="glyphicon glyphicon-edit">Edit </span>
          <span *ngIf="!todo.isEditing" (click)="deleteTask(todo)" class="glyphicon glyphicon-remove">Delete </span>
          <span (click)="updateTask(todo)" *ngIf="todo.isEditing" class="btn glyphicon glyphicon-floppy-disk">Update </span>
          <span (click)="onCancelClick(todo)" *ngIf="todo.isEditing" class="btn glyphicon glyphicon-remove-sign">Cancel </span>
        </td>
      </tr> 
    </table>
  </div>
</body>
</html>